/* Add your global styles here if needed */

.App {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .App a {
    display: inline-block;
    margin-right: 20px;
    color: #2196F3;
    text-decoration: none;
    margin-bottom: 50px;
  }
  
  .App a:hover {
    text-decoration: underline;
  }
  
  
  /* HOme style */
.Home {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .Home h1 {
    color: #333;
  }
  
  .Home input {
    width: 80%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #2195f362;
    margin-right: 10px;
  }
  .Home input:focus-visible{
    outline: 1px solid #2195f362;
  }
  
  .Home button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .Home button:hover {
    background-color: #45a049;
  }

  
  .Home h2 {
    color: #333;
  }
  
  .Home strong {
    font-weight: bold;
  }
  
  .Home a {
    display: block;
    margin-top: 20px;
    color: #2196F3;
    text-decoration: none;
  }
  
  .Home a:hover {
    text-decoration: underline;
  }
  
  

/* Style Details */

.WeatherDetails {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .WeatherDetails h2 {
    color: #333;
  }
  
  .WeatherDetails div {
    margin-top: 20px;
  }
  
  .WeatherDetails p {
    margin: 8px 0;
  }
  